.navigation{
    display :flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 50px;
  }
  .navigation ul{
    display: flex;
    justify-content:space-between;   
    list-style: none;
    font-weight: 600;
    gap: 24px;
  }
  
  .logo img
  {
    max-width: 52px;
    max-height:52px;
  }